/* body {
    background-color: #f5f6fa !important;
    min-height: 100vh;
} */

/* @font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/GreycliffCF/GreycliffCF-Medium.woff2') format('woff2');
    font-weight: 500;
    font-style: normal;
  }

@font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/GreycliffCF/GreycliffCF-Bold.woff2') format('woff2');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/GreycliffCF/GreycliffCF-Heavy.woff2') format('woff2');
    font-weight: 900;
    font-style: normal;
  } */

  @font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-ExtraLight.eot');
    src: local('Poppins ExtraLight'), local('Poppins-ExtraLight'),
        url('../fonts/Poppins/Poppins-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins/Poppins-ExtraLight.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-ExtraLight.woff') format('woff'),
        url('../fonts/Poppins/Poppins-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Medium.eot');
    src: local('Poppins Medium'), local('Poppins-Medium'),
        url('../fonts/Poppins/Poppins-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins/Poppins-Medium.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Medium.woff') format('woff'),
        url('../fonts/Poppins/Poppins-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-LightItalic.eot');
    src: local('Poppins Light Italic'), local('Poppins-LightItalic'),
        url('../fonts/Poppins/Poppins-LightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins/Poppins-LightItalic.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-LightItalic.woff') format('woff'),
        url('../fonts/Poppins/Poppins-LightItalic.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-ExtraLightItalic.eot');
    src: local('Poppins ExtraLight Italic'), local('Poppins-ExtraLightItalic'),
        url('../fonts/Poppins/Poppins-ExtraLightItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins/Poppins-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-ExtraLightItalic.woff') format('woff'),
        url('../fonts/Poppins/Poppins-ExtraLightItalic.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Regular.eot');
    src: local('Poppins Regular'), local('Poppins-Regular'),
        url('../fonts/Poppins/Poppins-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins/Poppins-Regular.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Regular.woff') format('woff'),
        url('../fonts/Poppins/Poppins-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-SemiBold.eot');
    src: local('Poppins SemiBold'), local('Poppins-SemiBold'),
        url('../fonts/Poppins/Poppins-SemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins/Poppins-SemiBold.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-SemiBold.woff') format('woff'),
        url('../fonts/Poppins/Poppins-SemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Black.eot');
    src: local('Poppins Black'), local('Poppins-Black'),
        url('../fonts/Poppins/Poppins-Black.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins/Poppins-Black.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Black.woff') format('woff'),
        url('../fonts/Poppins/Poppins-Black.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-ExtraBoldItalic.eot');
    src: local('Poppins ExtraBold Italic'), local('Poppins-ExtraBoldItalic'),
        url('../fonts/Poppins/Poppins-ExtraBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins/Poppins-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-ExtraBoldItalic.woff') format('woff'),
        url('../fonts/Poppins/Poppins-ExtraBoldItalic.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-MediumItalic.eot');
    src: local('Poppins Medium Italic'), local('Poppins-MediumItalic'),
        url('../fonts/Poppins/Poppins-MediumItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins/Poppins-MediumItalic.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-MediumItalic.woff') format('woff'),
        url('../fonts/Poppins/Poppins-MediumItalic.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Light.eot');
    src: local('Poppins Light'), local('Poppins-Light'),
        url('../fonts/Poppins/Poppins-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins/Poppins-Light.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Light.woff') format('woff'),
        url('../fonts/Poppins/Poppins-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Bold.eot');
    src: local('Poppins Bold'), local('Poppins-Bold'),
        url('../fonts/Poppins/Poppins-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins/Poppins-Bold.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Bold.woff') format('woff'),
        url('../fonts/Poppins/Poppins-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Thin.eot');
    src: local('Poppins Thin'), local('Poppins-Thin'),
        url('../fonts/Poppins/Poppins-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins/Poppins-Thin.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Thin.woff') format('woff'),
        url('../fonts/Poppins/Poppins-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-Italic.eot');
    src: local('Poppins Italic'), local('Poppins-Italic'),
        url('../fonts/Poppins/Poppins-Italic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins/Poppins-Italic.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-Italic.woff') format('woff'),
        url('../fonts/Poppins/Poppins-Italic.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-ThinItalic.eot');
    src: local('Poppins Thin Italic'), local('Poppins-ThinItalic'),
        url('../fonts/Poppins/Poppins-ThinItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins/Poppins-ThinItalic.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-ThinItalic.woff') format('woff'),
        url('../fonts/Poppins/Poppins-ThinItalic.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-BlackItalic.eot');
    src: local('Poppins Black Italic'), local('Poppins-BlackItalic'),
        url('../fonts/Poppins/Poppins-BlackItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins/Poppins-BlackItalic.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-BlackItalic.woff') format('woff'),
        url('../fonts/Poppins/Poppins-BlackItalic.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-BoldItalic.eot');
    src: local('Poppins Bold Italic'), local('Poppins-BoldItalic'),
        url('../fonts/Poppins/Poppins-BoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins/Poppins-BoldItalic.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-BoldItalic.woff') format('woff'),
        url('../fonts/Poppins/Poppins-BoldItalic.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-SemiBoldItalic.eot');
    src: local('Poppins SemiBold Italic'), local('Poppins-SemiBoldItalic'),
        url('../fonts/Poppins/Poppins-SemiBoldItalic.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins/Poppins-SemiBoldItalic.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-SemiBoldItalic.woff') format('woff'),
        url('../fonts/Poppins/Poppins-SemiBoldItalic.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Poppins';
    src: url('../fonts/Poppins/Poppins-ExtraBold.eot');
    src: local('Poppins ExtraBold'), local('Poppins-ExtraBold'),
        url('../fonts/Poppins/Poppins-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Poppins/Poppins-ExtraBold.woff2') format('woff2'),
        url('../fonts/Poppins/Poppins-ExtraBold.woff') format('woff'),
        url('../fonts/Poppins/Poppins-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}


/* FONT FAMILY GREYCLIFF-CF */
@font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/GreycliffCF/GreycliffCF-Bold.eot');
    src: local('Greycliff CF Bold'), local('GreycliffCF-Bold'),
        url('../fonts/GreycliffCF/GreycliffCF-Bold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GreycliffCF/GreycliffCF-Bold.woff2') format('woff2'),
        url('../fonts/GreycliffCF/GreycliffCF-Bold.woff') format('woff'),
        url('../fonts/GreycliffCF/GreycliffCF-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF Medium Oblique';
    src: url('../fonts/GreycliffCF/GreycliffCF-MediumOblique.eot');
    src: local('Greycliff CF Medium Oblique'), local('GreycliffCF-MediumOblique'),
        url('../fonts/GreycliffCF/GreycliffCF-MediumOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GreycliffCF/GreycliffCF-MediumOblique.woff2') format('woff2'),
        url('../fonts/GreycliffCF/GreycliffCF-MediumOblique.woff') format('woff'),
        url('../fonts/GreycliffCF/GreycliffCF-MediumOblique.ttf') format('truetype');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/GreycliffCF/GreycliffCF-Light.eot');
    src: local('Greycliff CF Light'), local('GreycliffCF-Light'),
        url('../fonts/GreycliffCF/GreycliffCF-Light.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GreycliffCF/GreycliffCF-Light.woff2') format('woff2'),
        url('../fonts/GreycliffCF/GreycliffCF-Light.woff') format('woff'),
        url('../fonts/GreycliffCF/GreycliffCF-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/GreycliffCF/GreycliffCF-Heavy.eot');
    src: local('Greycliff CF Heavy'), local('GreycliffCF-Heavy'),
        url('../fonts/GreycliffCF/GreycliffCF-Heavy.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GreycliffCF/GreycliffCF-Heavy.woff2') format('woff2'),
        url('../fonts/GreycliffCF/GreycliffCF-Heavy.woff') format('woff'),
        url('../fonts/GreycliffCF/GreycliffCF-Heavy.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF Extra Light Oblique';
    src: url('../fonts/GreycliffCF/GreycliffCF-ExtraLightOblique.eot');
    src: local('Greycliff CF Extra Light Oblique'), local('GreycliffCF-ExtraLightOblique'),
        url('../fonts/GreycliffCF/GreycliffCF-ExtraLightOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GreycliffCF/GreycliffCF-ExtraLightOblique.woff2') format('woff2'),
        url('../fonts/GreycliffCF/GreycliffCF-ExtraLightOblique.woff') format('woff'),
        url('../fonts/GreycliffCF/GreycliffCF-ExtraLightOblique.ttf') format('truetype');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'Greycliff CF Extra Bold Oblique';
    src: url('../fonts/GreycliffCF/GreycliffCF-ExtraBoldOblique.eot');
    src: local('Greycliff CF Extra Bold Oblique'), local('GreycliffCF-ExtraBoldOblique'),
        url('../fonts/GreycliffCF/GreycliffCF-ExtraBoldOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GreycliffCF/GreycliffCF-ExtraBoldOblique.woff2') format('woff2'),
        url('../fonts/GreycliffCF/GreycliffCF-ExtraBoldOblique.woff') format('woff'),
        url('../fonts/GreycliffCF/GreycliffCF-ExtraBoldOblique.ttf') format('truetype');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'Greycliff CF Extra';
    src: url('../fonts/GreycliffCF/GreycliffCF-ExtraLight.eot');
    src: local('Greycliff CF Extra Light'), local('GreycliffCF-ExtraLight'),
        url('../fonts/GreycliffCF/GreycliffCF-ExtraLight.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GreycliffCF/GreycliffCF-ExtraLight.woff2') format('woff2'),
        url('../fonts/GreycliffCF/GreycliffCF-ExtraLight.woff') format('woff'),
        url('../fonts/GreycliffCF/GreycliffCF-ExtraLight.ttf') format('truetype');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF Extra';
    src: url('../fonts/GreycliffCF/GreycliffCF-ExtraBold.eot');
    src: local('Greycliff CF Extra Bold'), local('GreycliffCF-ExtraBold'),
        url('../fonts/GreycliffCF/GreycliffCF-ExtraBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GreycliffCF/GreycliffCF-ExtraBold.woff2') format('woff2'),
        url('../fonts/GreycliffCF/GreycliffCF-ExtraBold.woff') format('woff'),
        url('../fonts/GreycliffCF/GreycliffCF-ExtraBold.ttf') format('truetype');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF Bold Oblique';
    src: url('../fonts/GreycliffCF/GreycliffCF-BoldOblique.eot');
    src: local('Greycliff CF Bold Oblique'), local('GreycliffCF-BoldOblique'),
        url('../fonts/GreycliffCF/GreycliffCF-BoldOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GreycliffCF/GreycliffCF-BoldOblique.woff2') format('woff2'),
        url('../fonts/GreycliffCF/GreycliffCF-BoldOblique.woff') format('woff'),
        url('../fonts/GreycliffCF/GreycliffCF-BoldOblique.ttf') format('truetype');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'Greycliff CF Light Oblique';
    src: url('../fonts/GreycliffCF/GreycliffCF-LightOblique.eot');
    src: local('Greycliff CF Light Oblique'), local('GreycliffCF-LightOblique'),
        url('../fonts/GreycliffCF/GreycliffCF-LightOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GreycliffCF/GreycliffCF-LightOblique.woff2') format('woff2'),
        url('../fonts/GreycliffCF/GreycliffCF-LightOblique.woff') format('woff'),
        url('../fonts/GreycliffCF/GreycliffCF-LightOblique.ttf') format('truetype');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'Greycliff CF Heavy Oblique';
    src: url('../fonts/GreycliffCF/GreycliffCF-HeavyOblique.eot');
    src: local('Greycliff CF Heavy Oblique'), local('GreycliffCF-HeavyOblique'),
        url('../fonts/GreycliffCF/GreycliffCF-HeavyOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GreycliffCF/GreycliffCF-HeavyOblique.woff2') format('woff2'),
        url('../fonts/GreycliffCF/GreycliffCF-HeavyOblique.woff') format('woff'),
        url('../fonts/GreycliffCF/GreycliffCF-HeavyOblique.ttf') format('truetype');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'Greycliff CF Demi Bold Oblique';
    src: url('../fonts/GreycliffCF/GreycliffCF-DemiBoldOblique.eot');
    src: local('Greycliff CF Demi Bold Oblique'), local('GreycliffCF-DemiBoldOblique'),
        url('../fonts/GreycliffCF/GreycliffCF-DemiBoldOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GreycliffCF/GreycliffCF-DemiBoldOblique.woff2') format('woff2'),
        url('../fonts/GreycliffCF/GreycliffCF-DemiBoldOblique.woff') format('woff'),
        url('../fonts/GreycliffCF/GreycliffCF-DemiBoldOblique.ttf') format('truetype');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'Greycliff CF Demi';
    src: url('../fonts/GreycliffCF/GreycliffCF-DemiBold.eot');
    src: local('Greycliff CF Demi Bold'), local('GreycliffCF-DemiBold'),
        url('../fonts/GreycliffCF/GreycliffCF-DemiBold.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GreycliffCF/GreycliffCF-DemiBold.woff2') format('woff2'),
        url('../fonts/GreycliffCF/GreycliffCF-DemiBold.woff') format('woff'),
        url('../fonts/GreycliffCF/GreycliffCF-DemiBold.ttf') format('truetype');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/GreycliffCF/GreycliffCF-Thin.eot');
    src: local('Greycliff CF Thin'), local('GreycliffCF-Thin'),
        url('../fonts/GreycliffCF/GreycliffCF-Thin.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GreycliffCF/GreycliffCF-Thin.woff2') format('woff2'),
        url('../fonts/GreycliffCF/GreycliffCF-Thin.woff') format('woff'),
        url('../fonts/GreycliffCF/GreycliffCF-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/GreycliffCF/GreycliffCF-Medium.eot');
    src: local('Greycliff CF Medium'), local('GreycliffCF-Medium'),
        url('../fonts/GreycliffCF/GreycliffCF-Medium.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GreycliffCF/GreycliffCF-Medium.woff2') format('woff2'),
        url('../fonts/GreycliffCF/GreycliffCF-Medium.woff') format('woff'),
        url('../fonts/GreycliffCF/GreycliffCF-Medium.ttf') format('truetype');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF Thin Oblique';
    src: url('../fonts/GreycliffCF/GreycliffCF-ThinOblique.eot');
    src: local('Greycliff CF Thin Oblique'), local('GreycliffCF-ThinOblique'),
        url('../fonts/GreycliffCF/GreycliffCF-ThinOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GreycliffCF/GreycliffCF-ThinOblique.woff2') format('woff2'),
        url('../fonts/GreycliffCF/GreycliffCF-ThinOblique.woff') format('woff'),
        url('../fonts/GreycliffCF/GreycliffCF-ThinOblique.ttf') format('truetype');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'Greycliff CF';
    src: url('../fonts/GreycliffCF/GreycliffCF-Regular.eot');
    src: local('Greycliff CF'), local('GreycliffCF-Regular'),
        url('../fonts/GreycliffCF/GreycliffCF-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GreycliffCF/GreycliffCF-Regular.woff2') format('woff2'),
        url('../fonts/GreycliffCF/GreycliffCF-Regular.woff') format('woff'),
        url('../fonts/GreycliffCF/GreycliffCF-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Greycliff CF Oblique';
    src: url('../fonts/GreycliffCF/GreycliffCF-RegularOblique.eot');
    src: local('Greycliff CF Oblique'), local('GreycliffCF-RegularOblique'),
        url('../fonts/GreycliffCF/GreycliffCF-RegularOblique.eot?#iefix') format('embedded-opentype'),
        url('../fonts/GreycliffCF/GreycliffCF-RegularOblique.woff2') format('woff2'),
        url('../fonts/GreycliffCF/GreycliffCF-RegularOblique.woff') format('woff'),
        url('../fonts/GreycliffCF/GreycliffCF-RegularOblique.ttf') format('truetype');
    font-weight: normal;
    font-style: italic;
}




