.user {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    color: light-dark(var(--mantine-color-gray-9), var(--mantine-color-gray-0));
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    background-color: transparent;
    transition: all 0.2s ease;
    cursor: pointer;
}

.user:hover {
    background-color: light-dark(
        var(--mantine-color-gray-0),
        var(--mantine-color-dark-6)
    );
}

.userActive {
    background-color: light-dark(
        var(--mantine-color-gray-0),
        var(--mantine-color-dark-6)
    );
}

@media (max-width: var(--mantine-breakpoint-xs)) {
    .user {
        display: none;
    }
}

.footer {
    margin-left: calc(var(--mantine-spacing-md) * -1) !important;
    margin-right: calc(var(--mantine-spacing-md) * -1) !important;
    border-top: rem(1px) solid
        light-dark(var(--mantine-color-gray-3), var(--mantine-color-dark-4));
}
